@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Outfit Variable';
  @apply text-black/80
}

.container {
  @apply max-w-5xl mx-auto
}

.noScroll::-webkit-scrollbar {
  display: none;
} 
.customScroll::-webkit-scrollbar {
  @apply h-[3px]
}

.darkScroll::-webkit-scrollbar-track {
  @apply bg-black/10 rounded-full
}

.darkScroll::-webkit-scrollbar-thumb {
  @apply bg-black/50 rounded-full
}

.asuraScroll::-webkit-scrollbar-track {
  @apply bg-asura/10 rounded-full
}

.asuraScroll::-webkit-scrollbar-thumb {
  @apply bg-asura rounded-full
}

.flameScroll::-webkit-scrollbar-track {
  @apply bg-red-700/10 rounded-full
}

.flameScroll::-webkit-scrollbar-thumb {
  @apply bg-red-700 rounded-full
}

.greenScroll::-webkit-scrollbar-track {
  @apply bg-green-700/10 rounded-full
}

.greenScroll::-webkit-scrollbar-thumb {
  @apply bg-green-700 rounded-full
}